button.sign-in{width:125px;height:60px;float:right;margin-right:-120px;border:none;background-color:#daa600;outline:none;transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;}
button.sign-in img{width:55px;opacity:0.8;}
button.sign-in:hover img,button.sign-in:focus img{opacity:1;}
input[type="text"],input[type="email"],textarea{width:85%;padding:10px;font-size:15px;color:#ab8071;background-color:rgba(255, 255, 255, 0.75);font-weight:normal;border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;border-bottom:2px solid #ab8071;margin-bottom:30px;outline:none;}
textarea{height:90px;}
input.sign-in{width:90%;padding:10px;font-size:20px;font-weight:normal;text-transform:uppercase;color:#fff;background-color:#daa600;transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;border:none;outline:none;cursor:pointer;}
input.sign-in:hover{background-color:#000;}
@media (max-width:1024px){button.sign-in{width:115px;height:55px;margin-top:-10px;margin-bottom:5px;margin-right:-109px;}
input[type="text"], input[type="email"], textarea{font-size:14px;}
}
@media (max-width:640px){button.sign-in img{width:50px;}
button.sign-in{width:110px;height:50px;margin-top:-10px;margin-bottom:5px;margin-right:-100px;}
}
@media (max-width:568px){button.sign-in img{width:45px;}
}
@media (max-width:480px){button.sign-in{width:100px;height:45px;margin-top:-3px;margin-bottom:5px;margin-right:-65px;}
}
@media (max-width:384px){button.sign-in img{width:38px;}
button.sign-in{width:80px;height:40px;margin-right:-50px;}
input[type="text"], input[type="email"], textarea{margin-bottom:17px;}
}
@media (max-width:375px){input.sign-in{font-size:17px;}
}
@media (max-width:320px){button.sign-in img{width:34px;}
button.sign-in{width:70px;height:37px;margin-right:-43px;}
input[type="text"], input[type="email"], textarea{padding:7px;margin-bottom:14px;}
input.sign-in{font-size:15px;}
}